{% extends 'base.html.twig' %}

{% block title %}Todas las tareas{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h2 style="text-align:center; margin-bottom:35px; margin-top:40px;">Todas Las Tareas</h2>

    {{ include('includes/task-list.html.twig')}}

</div>
{% endblock %}
