{% extends 'base.html.twig' %}

{% block title %}Login De Usuarios{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1 style="text-align: center;">Login de usuarios</h1>

     {% if error %}
         <div class="alert alert-error">
          {{ error.messagekey|trans(error.messageData, 'security' )}}
         </div>

     {% endif %}

   


    {# imprimo mi formulario clasico de html de forma manual #}
     <form action="{{path('login')}}" method="post">
            
        <label for="username">Email</label>
        <input type="email" name="_username" id="username" value="{{ last_username}}">


        <label for="password">Contraseña</label>
        <input type="password" name="_password" id="password">


        <input class="btn btn-primary" type="submit" value="Entrar">


      </form>
    

   
</div>
{% endblock %}
